<div class="row"> 
  <div class="card totals-container">
    <div class="row">
      <div class="col-xs-12">
          
              <div class="row">
                  <div class="information">Información</div> 
              </div> 
              <div class="row">
                  <div class="col-xs-6 cinema-titles">Película</div>
                  <div class="col-xs-6 cinema-description">{{titulopelicula}}</div> 
              </div>
              <div class="row">
                  <div class="col-xs-6 cinema-titles">Hora</div>
                  <div class="col-xs-6 cinema-description">{{tandapelicula}} pm</div>
              </div>  
              <div class="row">
                  <div class="col-xs-6 cinema-titles">Ticketes</div>
                  <div class="col-xs-6 cinema-description">{{cantidadAsientos}}
                  </div> 
              </div> 
              <div class="row">
                  <div class="col-xs-6 cinema-titles">Total</div>
                  <div class="col-xs-6 cinema-description">{{total}}</div> 
              </div> 
              <div class="row">
                  <div class="information">
                      Ticketes comprados:
                  </div>
              </div>
              <div class="row">
                  <i ng-repeat="ticket in tickets" >
                      <li>
                          Bloque {{ticket.blockNumber}}
                          Asiento {{ticket.seatNumber}}
                      </li>
                  </i>
              </div>
          
        </div>
      </div>
      <div class="row result-buttons">
        <p><a class="btn btn-default" role="button" ng-click="regresar()">Regresar</a></p>
      </div>
    </div>
</div>  