<div class="row"> 
  <div class="col-xs-12">
      <p><a class="btn btn-default" role="button" ng-click="regresar()">Regresar</a></p>
      <div class="col-xs-4 col-md-8">
          <div class="row">
              <div class="information">Información</div> 
          </div> 
          <div class="row">
              <div class="col-xs-6 cinema-titles">Película</div>
              <div class="col-xs-6 cinema-description">{{titulopelicula}}</div> 
          </div>
          <div class="row">
              <div class="col-xs-6 cinema-titles">Hora</div>
              <div class="col-xs-6 cinema-description">{{tanda}} pm</div>
          </div> 
          <div class="row">
              <div class="col-xs-6 cinema-titles">Sala</div>
              <div class="col-xs-6 cinema-description">8</div> 
          </div> 
          <div class="row">
              <div class="col-xs-6 cinema-titles">Ticketes</div>
              <div class="col-xs-6 cinema-description">{{selectedSe}}
              </div> 
          </div> 
          <div class="row">
              <div class="col-xs-6 cinema-titles">Total</div>
              <div class="col-xs-6 cinema-description">{{total}}</div> 
          </div> 
          <div class="row">
              <div class="information">
                  Ticketes comprados:
              </div>
          </div>
          <div class="row">
              <i ng-repeat="ticket in myTickets" >
                  <li>
                      Bloque {{ticket.blockNumber}}
                      Asiento {{ticket.seatNumber}}
                  </li>
              </i>
          </div>
      </div>
    </div>
</div>  